apiVersion: apps/v1
kind: Deployment
metadata:
  name: stop-e-data
  labels:
    app: stop-e-data
spec:
  # shiny apps are stateful, and do not work very well with more than 1 replica
  # see discussion https://github.com/rstudio/shiny/issues/2455
  replicas: 1
  strategy:
    # To avoid double-attaching volumes we need to kill previous pods before running new ones
    type: Recreate
  selector:
    matchLabels:
      app: stop-e-data
  template:
    metadata:
      labels:
        app: stop-e-data
    spec:
      securityContext:
        fsGroup: 999
        fsGroupChangePolicy: "OnRootMismatch"
      serviceAccountName: shiny-apps
      hostAliases:
      - hostnames:
        - dbora-niva-prod02.niva.corp
        ip: "151.157.136.151"
      containers:
      - name: stop-e-data
        image: europe-west1-docker.pkg.dev/niva-cd/images/stop-e-data:latest
        env:
        - name: DB_PATH_DATA_FOLDER_EDATA
          value: "/data"
        envFrom:
          - secretRef:
              name: stop-secret
          - configMapRef:
              name: stop-e-data-config
        resources:
          requests:
            memory: "1536Mi"
            cpu: "300m"
          limits:
            memory: "3072Mi"
            cpu: "700m"
        ports:
          - name: http
            containerPort: 3838
            protocol: TCP
        livenessProbe:
          httpGet:
            path: /
            port: 3838
          initialDelaySeconds: 30
          periodSeconds: 1800
          timeoutSeconds: 10
---
# Service exposing the timescale DB
apiVersion: v1
kind: Service
metadata:
  name: stop-e-data
spec:
  ports:
  - name: http
    targetPort: http
    port: 80
    protocol: TCP
  selector:
    app: stop-e-data
